
*{
	margin: 15px;
	max-width: 1920px;
}
body {
	font-family: 'Poppins', sans-serif;
	color: #1e2126;
	margin:10px 10px 10px 10px;
}


h1 {
	font-size: 66px;
	font-weight: bold;
	line-height: 80px;
}


h2 {
	font-size: 55px;
	font-weight: bold;
	line-height: 50px;
  }

h3 {
	font-size: 16px;
	font-weight: bold;

}
h4 {
	font-size: 18px;	
}

p {
	font-size: 18px;
	line-height: 1.8;
	margin-bottom: 10px;
	margin-top: 10px;
}


section {
	padding: 80px 0;
	margin-bottom: 0;
	width: 100vw;	
}

footer {
	padding: 10px;
}



nav {
	background-color: white;
	margin-left: 10px;
	margin-right: 10px;
	}

.menu {
	display: flex;
	justify-content: space-between;
	height: 150px;

}

hr {
	width: 80%;
	background-color: #5e6c6d;

}

.padre {
	display: flex;
	margin-left:20px;
	margin-right: 20px;
	align-items: center;
}

.hijo {
	width: 50%;
	
}

.parrafo {
	margin-top: 8px;
}

.boton-contratame {
	background-color: rgb(30, 33, 38);
	color:white;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 25px;
    color: white;
    display: block;
    width: 250px;
    height: 50px;
    padding-top: 6px; 
    margin-top: 10px;
	}

.boton-contratame:hover{
    color: #1e2126;
    background-color: #d39d90;
    text-decoration: none;
  }


  .boton-cv {
	background-color: rgb(30, 33, 38);
	color:white;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 25px;
    color: white;
    display: block;
    width: 285px;
    height: 50px;
    padding-top: 6px; 
    margin-top: 10px;
	}

.boton-cv:hover{
    color: #1e2126;
    background-color: #d39d90;
    text-decoration: none;
  }


.navbar {
	background-color: white,
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
	min-height: 100px;
}

.nav-link {
	color: #002858;
}

.nav-link:hover {
	color: #8B8888;
}

.logo-brand {
	min-width: 120px;
	max-width: 150px;
}

.navbar-toggler {
	font-size: 30px;
}

.navbar-toggler:focus {
	outline: none;
}

.foto-lu {
	height: 624px;
	width: 700px;
}

.soy-yo {
	height: 530px;
	background-color: #E2E2E2;
	display: flex;
	margin-left:20px;
	margin-right: 20px;
	margin-bottom: 130px;
	align-items: center;
}


.educacion {
	text-align: center;
}


.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 1.7px;
  height: 100%;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 30px;
  background: #5e6c6d;
}
 
.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-bottom: 50px;
  background: rgb(211, 157,144);
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: #1e2126;
  color: white;
}

.en-timeline {
	font-size: 12px;
}


.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

/*Estilos de elementos impares*/

.timeline ul li:nth-child(odd) div {
  left: 30px;

}
 
.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #1e2126 transparent transparent;
}


/*Estilos de elementos pares*/
.timeline ul li:nth-child(even) div {
  left: -454px;
}
 
.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #1e2126;
}


.cursos {
	background-color: #364d53;
	color: white;
	font-weight: thin;
	display: flex;
	align-content: space-around;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
	widows: 100%;


}

.cursos-hijo {
	margin:0;
}

.pink-line {
	width: 280px;
	height: 2px;
	background-color: rgb(211, 157,144);
}

.lista-cursos {
	font-size: 12px;
}


.skills {
	display: flex;
	align-content: center;
	align-items: flex-start;
	justify-content: space-around;
	font-weight: bold;
	font-size: 15px;
	text-align: center;

}

.iconos-skills {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.skills-list {
		list-style-type: none;
		padding: 0;
		margin-top: 10px;
}

.imagen-skills {
	border-radius: 50%;
	border-color: pink;
}

.portada-proyecto {
	width: 150px;
	height: 150px;
}

.proyectos {
	display: flex;
	align-content: space-between;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.proyectos-hijo {
	width: 25%;
}


.tag-card {
	display: flex;
	align-items: center;
	align-content: center;
}


.card {
	text-align: center;
	flex-wrap: wrap;
	margin: 0;
	background-color: #E2E2E2;

}


.linea-card {
	width: 5px;
	display: inline-block;
}

.portada-proyecto {
	display: block;
	margin-left: auto;
	margin-right: auto;
}




@media (max-width: 575.98px) {

	  h1 {
	  		font-size: 40px;
  			line-height: normal;} 

  		h5 span {
  			display: none;
  		}
  		
  		}


@media (max-width: 767.98px) {

	h5 span {
  			display: none;
  		}

  		 }


@media (max-width: 991.98px) { 

		h5 span {
  			display: none;
  		}

  		 }

@media (max-width: 1199.98px) { ... }
