
*{
	margin: 15px;
	max-width: 1920px;
}
body {
	font-family: 'Poppins', sans-serif;
	color: #1e2126;
	margin:10px 10px 10px 10px;
}


h1 {
	font-size: 66px;
	font-weight: bold;
	line-height: 80px;
}


h2 {
	font-size: 55px;
	font-weight: bold;
	line-height: 50px;
  }

h3 {
	font-size: 16px;
	font-weight: bold;

}
h4 {
	font-size: 18px;	
}

p {
	font-size: 18px;
	line-height: 1.8;
	margin-bottom: 10px;
	margin-top: 10px;
}


section {
	padding: 80px 0;
	margin-bottom: 0;
	width: 100vw;	
}

footer {
	padding: 10px;
}



nav {
	background-color: white;
	margin-left: 10px;
	margin-right: 10px;
	widows: 100vw;
	}

.container {
	display: flex;
	align-content: space-between;
	height: 80px;
	width: 1920px !important;
	margin-left: 0;
	margin-right: 0;


}


.navbar-expand-lg {
	display: flex;
	justify-content: space-between;
}



.hijo-menu {
	height: 40px;
}


hr {
	width: 80%;
	background-color: #5e6c6d;

}

.nav-item {
	font-size: 12px;
	font-weight: bold;
	margin:0;
}

.nav-link {
	margin: 0;
}

.padre {
	display: flex;
	margin-left:20px;
	margin-right: 20px;
	align-items: center;
}

.hijo {
	width: 50%;
	
}

.parrafo {
	margin-top: 8px;
}

.boton-contratame {
	background-color: rgb(30, 33, 38);
	color:white;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 25px;
    color: white;
    display: block;
    width: 250px;
    height: 50px;
    padding-top: 6px; 
    margin-top: 10px;
	}

.boton-contratame:hover{
    color: #1e2126;
    background-color: #d39d90;
    text-decoration: none;
  }


 .boton-cv {
	background-color: rgb(30, 33, 38);
	color:white;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 25px;
    color: white;
    display: block;
    width: 285px;
    height: 50px;
    padding-top: 6px; 
    margin-top: 10px;
	}

.boton-cv:hover{
    color: #1e2126;
    background-color: #d39d90;
    text-decoration: none;
  }


.navbar {
	background-color: white,
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
	min-height: 100px;
}

.nav-link {
	color: #002858;
}

.nav-link:hover {
	color: #8B8888;
}

.logo-brand {
	width: 200px;
}

.navbar-toggler {
	font-size: 30px;
}

.navbar-toggler:focus {
	outline: none;
}


nav {
	background-color: white;
	margin-left: 10px;
	margin-right: 10px;
	widows: 100vw;
	}


.foto-lu {
	height: 624px;
	width: 700px;
}

.soy-yo {
	height: 530px;
	background-color: #E2E2E2;
	display: flex;
	margin-left:20px;
	margin-right: 20px;
	margin-bottom: 130px;
	align-items: center;
}


.educacion {
	text-align: center;
	margin-top: 150px;
}

.mis-proyectos {
	text-align: left;
	margin-top: 100px;
	padding-left: 50px;
}

.div-charlas {
	text-align: left;
	margin-top: 100px;
	padding-left: 50px;
	background-color: #e2e2e2;
}



.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 1.7px;
  height: 100%;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 30px;
  background: #5e6c6d;
}
 
.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-bottom: 50px;
  background: rgb(211, 157,144);
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: #1e2126;
  color: white;
}

.en-timeline {
	font-size: 12px;
}


.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

/*Estilos de elementos impares*/

.timeline ul li:nth-child(odd) div {
  left: 30px;

}
 
.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #1e2126 transparent transparent;
}


/*Estilos de elementos pares*/
.timeline ul li:nth-child(even) div {
  left: -454px;
}
 
.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #1e2126;
}


.cursos {
	background-color: #364d53;
	color: white;
	font-weight: thin;
	display: flex;
	align-content: space-around;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
	widows: 100%;


}

.cursos-hijo {
	margin:0;
}

.pink-line {
	width: 280px;
	height: 2px;
	background-color: rgb(211, 157,144);
}

.lista-cursos {
	font-size: 12px;
}


.skills {
	display: flex;
	align-content: center;
	align-items: flex-start;
	justify-content: space-around;
	font-weight: bold;
	font-size: 15px;
	text-align: center;

}

.iconos-skills {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.skills-list {
		list-style-type: none;
		padding: 0;
		margin-top: 10px;
}



.portada-proyecto {
	width: 150px;
	height: 150px;
}

.proyectos {
	display: flex;
	align-content: space-around;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.proyectos-hijo {
	width: 25%;
	margin-bottom: 100px;
}


.tag-card {
	display: flex;
	align-items: center;
	align-content: center;
}


.tag {
	text-align: center;
	flex-wrap: wrap;
	margin: 0;
	width: 100%;
	background-color: #e2e2e2;
	display: flex;
	justify-content: stretch;
	align-items: center;
}

.nombre-card {
	font-weight: bold;
	font-size: 20px;
	color: #1e2126;
	margin: 0;

}

.nombre-card:hover {
	text-decoration: none;
	color: #5e6c6d;
}


.linea-card {
	width: 5px;
	display: inline-block;
}


.numero-card {
	font-weight: bold;
	font-size: 60px;
	color: #d39d90;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-right: -25px;	

}

.numero-card:hover {
	font-weight: bold;
	text-decoration: none;
	font-size: 60px;
	color: #d39d90;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-right: -25px;	

}



}

.portada-proyecto {
	display: block;
	margin-left: auto;
	margin-right: auto;
}


.congresos {
	background-color: #E2E2E2;

}

.congresos-hijo {
	width: 50px;
	height: 50px;

}


.acordeon input {
	display: none;
}

.acordeon__titulo {
	display: block;
	padding: 15px;
	background-color: #e2e2e2;
	color:#364d53;
	border-bottom-style: solid;
	border-color: #d39d90;
	font-size: 20px;
	cursor: pointer;
	text-align: left;
	font-weight: bold;
}

.acordeon__titulo:hover {
	background-color: rgba(255, 255, 255, .1);

}

.acordeon__contenido {
	height: 0;
	overflow: hidden;
	margin: 0;
	padding-left: 30px;
	font-weight: thin;
	transition: all 0.5s; 

}


.acordeon input:checked ~ .acordeon__contenido{
	height: auto;
	margin: 15px 0;
}


.foto-lu {
	height: 624px;
	width: 700px;
}

.congresos {
	height: auto;
	background-color: #E2E2E2;
	display: flex;
	margin-left:20px;
	margin-right: 20px;
	margin-bottom: 130px;
	align-items: flex-start;
	margin-top: 0;
}


.congresos-head {
	height: 20px;
	background-color: #E2E2E2;
	display: flex;
	margin-left:20px;
	margin-right: 20px;
	margin-bottom: 0;
	align-items: flex-start;
	margin-top: 150px;
	flex-direction: column;
	padding-bottom: 5;
	padding-left: 50px;
	padding-right: 50px;
}


.contacto-head {
	height: 20px;
	background-color: white;
	display: flex;
	margin-left:20px;
	margin-right: 20px;
	margin-bottom: 0;
	align-items: flex-start;
	margin-top: 150px;
	flex-direction: column;
	padding-bottom: 5;
	padding-left: 50px;
	padding-right: 50px;
}


.hijo-congresos {
	width: 50%;
	padding-left: 50px;
	padding-right: 50px;
	
}


.contacto {
	height: auto;
	background-color: white;
	display: flex;
	margin-left:20px;
	margin-right: 20px;
	margin-bottom: 130px;
	align-items: flex-start;
	margin-top: 0;
}


.hijo-contacto {
	width: 50%;
	padding-left: 50px;
	padding-right: 50px;
	
}


.pie {
	display: flex;
	justify-content: space-between;
	align-items: space-between;
	background-color: #1e2126;
	color: white;
	height: 300px;
}


.pie-hijo {
	text-align: space-between;
	align-content: space-between;
	align-items: center;
	width: 100%;
	color: white;
}

.pie-hijo ul li a {
	color: white;
	text-decoration: none;
	list-style-type: none;
}

.pie-hijo ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.ubicacion {
	background: url('iconos/08_ubicacion_icon.svg') no-repeat;
	height: 50px;
	padding-left: 30px;
	margin-left: 0;
	text-align: left;

}

.whatsapp {
	background: url('iconos/08_whatsapp_icon.svg') no-repeat;
	height: 50px;
	padding-left: 30px;
	margin-left: 0;
	text-align: left;

}



.logo-pie {
	width: 120px;
	height: auto;
	display: inline-block;
}



@media (max-width: 575.98px) {

	  h1 {
	  		font-size: 40px;
  			line-height: normal;} 

  		h5 span {
  			display: none;
  		}
  		
  		}


@media (max-width: 767.98px) {

	h5 span {
  			display: none;
  		}

  		 }


@media (max-width: 991.98px) { 

		h5 span {
  			display: none;
  		}

  		 }

@media (max-width: 1199.98px) { ... }
